.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1 0 0;
  }
}
.highlight {
  font-size: 14px; // ここで好みのフォントサイズに変更してください
  background-color: #f7f7f7; // 背景色もカスタマイズ可能

  .c {
      color: #228b22; // 例: csharp のコメントの色
  }

  // 他のクラスに関しても同様にカスタマイズすることができます
}
